<head>
  <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
  <style>
    body {
      font-family: 'Gloria Hallelujah', cursive;
      background: #000 url('assets/coverpic.jpg') no-repeat center;
      background-size: cover;
      color: white;
      z-index: -999;
      min-height: 100%;
      min-width: 1024px;
      width: 100%;
    }
  </style>
</head>


<%= render 'pages/home' unless user_signed_in? %>
<div id="photos" class="transitions-enabled">
<% @photos.each do |photo| %>
 <div class="photo_box panel panel-default">
     <%= link_to image_tag(photo.image.url(:medium)), photo %>
    <div class="panel-body">
     <%= photo.content %><br/>
     <!-- if the photo has a user it will show it's users email if not it will be blank -->
     <strong><%= photo.user.name if photo.user %></strong>
     <!-- have to be the owner of the photoblog in order for you to edit or destroy it -->
      <% if photo.user == current_user %>
      <div class="actions">
      <%= link_to 'Edit', edit_photo_path(photo) %>
      <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Dude,are you sure?' } %>
       </div>
      <% end %>
     </div>
  </div>
  <% end %>
</div>
<div class="center">
<%= will_paginate @photos, renderer: BootstrapPagination::Rails %>
</div>



